body {
	background-color: rgb(236, 240, 241); 
	color: rgb(52, 73, 94); 
	font-family: 'Oxygen', sans-serif; 
	font-size: 23px;
}

h1 {
	font-size: 40px;
}

.row {
	max-width: 750px; 
	width: 100%; 
	margin: 0 auto;
}

.container {
	margin: 0 20px;
}

.block {
	background-color: rgba(189, 195, 199, 0.5); 
	padding: 10px; 
	margin: 20px; 
	line-height:2; 
	height: 650px;
}

.submit {
	background-color: rgb(155, 89, 182); 
	padding-left: 15px; 
	padding-right: 15px; 
	border: none; 
	color: white; 
	float: right; 
	margin: 25px 41px 0 0;
}

ul {
	height: 200px; 
	width: 560px; 
	overflow-y: scroll; 
	border: 1px solid rgba(52,73,94,0.6); 
	position: absolute; 
	top: 28px; 
	left: 0px; 
	background-color:rgb(236, 240, 241); 
	z-index: 2; 
	display: none;
}

li {
	border-bottom: 1px solid rgba(52,73,94,0.3); 
	list-style: none; 
	font-size: 15px; 
	padding: 5px 0;
}

.list-title .label {
	font-size: 20px; 
	position: relative;
}

.list-title {
	margin: 25px 0 5px 0;
}

.list-title2 {
	margin-top:100px; 
	padding-left;
}

.number {
	height: 40px; 
	width: 607px; 
	background-color: rgb(236, 240, 241); 
	border: 1px solid rgba(52,73,94,0.3); 
	color: rgb(52, 73, 94); 
	padding-left: 10px;
}

.label {
	margin: -20px 0 5px 0;
}

.arrowdown {
	width: 0px; 
	height: 0px; 
	border-left: 15px solid transparent; 
	border-right: 15px solid transparent; 
	border-top: 15px solid rgb(26, 188, 156); 
	float: right; 
	cursor: pointer; 
	position: absolute; 
	right: 55px; 
	top: 25px;
}

.clear-fix {
	clear: both;
}

.box {
	height: 40px; 
	width: 600px; 
	background-color: rgb(236, 240, 241); 
	border: 1px solid rgba(52,73,94,0.3); 
	float: left; 
	margin: 10px 0px 0px 0px; 
	padding-left: 10px;
}

.selection {
	position: relative;
}

.input-from {
	display: none;
}

.input-to {
	display: none;
}

.answer {
	font-size: 35px; 
	background-color: rgb(52, 152, 219); 
	color: white; 
	height: 70px; 
	width: 587px; 
	padding-left: 20px;
}